In [8]:
import numpy as np

In [1]:
import pandas as pd

In [10]:
from matplotlib import pyplot as plt

In [11]:
from matplotlib import ticker as ticker

In [12]:
import seaborn as sns

In [14]:
from plotly import express as px

In [18]:
from plotly.offline import plot

In [6]:
sample_data = pd.read_csv('Document from Moghazy.csv')

In [7]:
sample_data

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515
5,NaN,"Korea, South",2020-03-17T10:33:03,8320,81,1407,35.9078,127.7669
6,France,France,2020-03-17T19:13:08,7652,148,12,46.2276,2.2137
7,NaN,Switzerland,2020-03-17T16:33:04,2700,27,4,46.8182,8.2275
8,United Kingdom,United Kingdom,2020-03-17T15:13:09,1950,55,52,55.3781,-3.4360
9,New York,US,2020-03-17T22:53:03,1706,13,0,42.1657,-74.9481
10,Netherlands,Netherlands,2020-03-17T15:13:11,1705,43,2,52.1326,5.2913
11,NaN,Norway,2020-03-17T19:53:02,1463,3,1,60.4720,8.4689
12,Guangdong,China,2020-03-17T01:53:03,1364,8,1307,23.3417,113.4244
13,NaN,Austria,2020-03-17T15:33:06,1332,3,1,47.5162,14.5501
14,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140
15,NaN,Belgium,2020-03-17T15:33:06,1243,10,1,50.5039,4.4699
16,Zhejiang,China,2020-03-17T02:13:21,1232,1,1216,29.1832,120.0934
17,NaN,Sweden,2020-03-17T15:33:06,1190,7,1,60.1282,18.6435
18,Washington,US,2020-03-17T23:33:03,1076,55,1,47.4009,-121.4905
19,Hunan,China,2020-03-14T08:33:03,1018,4,1014,27.6104,111.7088
20,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264
21,Denmark,Denmark,2020-03-17T16:33:04,977,4,1,56.2639,9.5018
22,Jiangxi,China,2020-03-12T02:13:04,935,1,934,27.6140,115.7221
23,NaN,Japan,2020-03-17T16:53:04,878,29,144,36.2048,138.2529
24,Shandong,China,2020-03-17T00:33:02,761,7,746,36.3427,118.1498
25,California,US,2020-03-17T22:53:03,698,12,6,36.1162,-119.6816
26,Diamond Princess,Cruise Ship,2020-03-13T14:13:25,696,7,325,35.4498,139.6649
27,NaN,Malaysia,2020-03-17T15:33:06,673,2,49,4.2105,101.9758
28,Jiangsu,China,2020-03-15T01:53:02,631,0,631,32.9711,119.4550
29,Chongqing,China,2020-03-15T03:53:04,576,6,570,30.0572,107.8740
...,...,...,...,...,...,...,...,...
246,NaN,Central African Republic,2020-03-16T03:33:03,1,0,0,6.6111,20.9394
247,Tibet,China,2020-03-11T02:18:14,1,0,1,31.6927,88.0924
248,NaN,Congo (Brazzaville),2020-03-16T14:38:45,1,0,0,-0.2280,15.8277
249,NaN,Equatorial Guinea,2020-03-15T06:41:54,1,0,0,1.5000,10.0000
250,NaN,Eswatini,2020-03-15T06:41:54,1,0,0,-26.5225,31.4659
251,Mayotte,France,2020-03-16T14:38:45,1,0,0,-12.8431,45.1383
252,NaN,Gabon,2020-03-14T13:33:04,1,0,0,-0.8037,11.6094
253,NaN,Greenland,2020-03-16T16:53:06,1,0,0,71.7069,-42.6043
254,NaN,Guinea,2020-03-15T06:41:54,1,0,0,9.9456,-9.6966
255,NaN,Holy See,2020-03-13T22:22:02,1,0,0,41.9029,12.4534
256,NaN,Liberia,2020-03-17T12:13:16,1,0,0,6.4281,-9.4295
257,NaN,Mauritania,2020-03-15T18:20:19,1,0,0,21.0079,-10.9408
258,NaN,Mayotte,2020-03-16T14:38:45,1,0,0,-12.8275,45.1662
259,NaN,Nepal,2020-03-13T22:22:03,1,0,1,28.3949,84.1240
260,NaN,Saint Vincent and the Grenadines,2020-03-14T16:33:03,1,0,0,12.9843,-61.2872
261,NaN,Somalia,2020-03-16T14:38:46,1,0,0,5.1521,46.1996
262,NaN,Sudan,2020-03-14T01:13:32,1,1,0,12.8628,30.2176
263,NaN,Suriname,2020-03-14T16:33:03,1,0,0,3.9193,-56.0278
264,NaN,Tanzania,2020-03-17T01:33:03,1,0,0,-6.3690,34.8888
265,NaN,The Bahamas,2020-03-16T03:33:03,1,0,0,24.2500,-76.0000
266,NaN,The Gambia,2020-03-17T23:33:02,1,0,0,13.4667,-16.6000
267,NaN,Togo,2020-03-13T22:22:02,1,0,0,8.6195,0.8248
268,West Virginia,US,2020-03-17T23:33:02,1,0,0,38.4912,-80.9545
269,Cayman Islands,United Kingdom,2020-03-16T14:53:04,1,1,0,19.3133,-81.2546
270,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380
271,NaN,Guernsey,2020-03-17T18:33:03,0,0,0,49.4500,-2.5800
272,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
273,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
274,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
275,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [16]:
sample_data[['Province/State']] = sample_data[['Province/State']].fillna('')
sample_data[['Province/State']].fillna(0 , inplace = True)

C:\Users\M3MO\Anaconda3\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [17]:
sample_data

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515
5,,"Korea, South",2020-03-17T10:33:03,8320,81,1407,35.9078,127.7669
6,France,France,2020-03-17T19:13:08,7652,148,12,46.2276,2.2137
7,,Switzerland,2020-03-17T16:33:04,2700,27,4,46.8182,8.2275
8,United Kingdom,United Kingdom,2020-03-17T15:13:09,1950,55,52,55.3781,-3.4360
9,New York,US,2020-03-17T22:53:03,1706,13,0,42.1657,-74.9481
10,Netherlands,Netherlands,2020-03-17T15:13:11,1705,43,2,52.1326,5.2913
11,,Norway,2020-03-17T19:53:02,1463,3,1,60.4720,8.4689
12,Guangdong,China,2020-03-17T01:53:03,1364,8,1307,23.3417,113.4244
13,,Austria,2020-03-17T15:33:06,1332,3,1,47.5162,14.5501
14,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140
15,,Belgium,2020-03-17T15:33:06,1243,10,1,50.5039,4.4699
16,Zhejiang,China,2020-03-17T02:13:21,1232,1,1216,29.1832,120.0934
17,,Sweden,2020-03-17T15:33:06,1190,7,1,60.1282,18.6435
18,Washington,US,2020-03-17T23:33:03,1076,55,1,47.4009,-121.4905
19,Hunan,China,2020-03-14T08:33:03,1018,4,1014,27.6104,111.7088
20,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264
21,Denmark,Denmark,2020-03-17T16:33:04,977,4,1,56.2639,9.5018
22,Jiangxi,China,2020-03-12T02:13:04,935,1,934,27.6140,115.7221
23,,Japan,2020-03-17T16:53:04,878,29,144,36.2048,138.2529
24,Shandong,China,2020-03-17T00:33:02,761,7,746,36.3427,118.1498
25,California,US,2020-03-17T22:53:03,698,12,6,36.1162,-119.6816
26,Diamond Princess,Cruise Ship,2020-03-13T14:13:25,696,7,325,35.4498,139.6649
27,,Malaysia,2020-03-17T15:33:06,673,2,49,4.2105,101.9758
28,Jiangsu,China,2020-03-15T01:53:02,631,0,631,32.9711,119.4550
29,Chongqing,China,2020-03-15T03:53:04,576,6,570,30.0572,107.8740
...,...,...,...,...,...,...,...,...
246,,Central African Republic,2020-03-16T03:33:03,1,0,0,6.6111,20.9394
247,Tibet,China,2020-03-11T02:18:14,1,0,1,31.6927,88.0924
248,,Congo (Brazzaville),2020-03-16T14:38:45,1,0,0,-0.2280,15.8277
249,,Equatorial Guinea,2020-03-15T06:41:54,1,0,0,1.5000,10.0000
250,,Eswatini,2020-03-15T06:41:54,1,0,0,-26.5225,31.4659
251,Mayotte,France,2020-03-16T14:38:45,1,0,0,-12.8431,45.1383
252,,Gabon,2020-03-14T13:33:04,1,0,0,-0.8037,11.6094
253,,Greenland,2020-03-16T16:53:06,1,0,0,71.7069,-42.6043
254,,Guinea,2020-03-15T06:41:54,1,0,0,9.9456,-9.6966
255,,Holy See,2020-03-13T22:22:02,1,0,0,41.9029,12.4534
256,,Liberia,2020-03-17T12:13:16,1,0,0,6.4281,-9.4295
257,,Mauritania,2020-03-15T18:20:19,1,0,0,21.0079,-10.9408
258,,Mayotte,2020-03-16T14:38:45,1,0,0,-12.8275,45.1662
259,,Nepal,2020-03-13T22:22:03,1,0,1,28.3949,84.1240
260,,Saint Vincent and the Grenadines,2020-03-14T16:33:03,1,0,0,12.9843,-61.2872
261,,Somalia,2020-03-16T14:38:46,1,0,0,5.1521,46.1996
262,,Sudan,2020-03-14T01:13:32,1,1,0,12.8628,30.2176
263,,Suriname,2020-03-14T16:33:03,1,0,0,3.9193,-56.0278
264,,Tanzania,2020-03-17T01:33:03,1,0,0,-6.3690,34.8888
265,,The Bahamas,2020-03-16T03:33:03,1,0,0,24.2500,-76.0000
266,,The Gambia,2020-03-17T23:33:02,1,0,0,13.4667,-16.6000
267,,Togo,2020-03-13T22:22:02,1,0,0,8.6195,0.8248
268,West Virginia,US,2020-03-17T23:33:02,1,0,0,38.4912,-80.9545
269,Cayman Islands,United Kingdom,2020-03-16T14:53:04,1,1,0,19.3133,-81.2546
270,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380
271,,Guernsey,2020-03-17T18:33:03,0,0,0,49.4500,-2.5800
272,,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
273,,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
274,,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
275,,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [30]:
sample_data = sample_data.sort_values(by=['Country/Region'], ascending=True)

In [31]:
sample_data

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
162,,Afghanistan,2020-03-17T11:53:10,22,0,1,33.9391,67.7100
123,,Albania,2020-03-17T15:53:12,55,1,0,41.1533,20.1683
117,,Algeria,2020-03-17T03:13:15,60,4,12,28.0339,1.6596
134,,Andorra,2020-03-17T20:53:02,39,0,1,42.5063,1.5218
241,,Antigua and Barbuda,2020-03-15T18:20:19,1,0,0,17.0608,-61.7964
104,,Argentina,2020-03-17T15:53:12,68,2,3,-38.4161,-63.6167
92,,Armenia,2020-03-17T19:33:02,78,0,1,40.0691,45.0382
220,,Aruba,2020-03-17T12:33:07,3,0,0,12.5211,-69.9683
270,From Diamond Princess,Australia,2020-03-14T02:33:04,0,0,0,35.4437,139.6380
242,Northern Territory,Australia,2020-03-14T01:53:03,1,0,0,-12.4634,130.8456
233,Australian Capital Territory,Australia,2020-03-16T14:38:46,2,0,0,-35.4735,149.0124
201,Tasmania,Australia,2020-03-16T14:38:46,7,0,0,-41.4545,145.9707
89,Victoria,Australia,2020-03-17T12:53:09,94,0,8,-37.8136,144.9631
148,South Australia,Australia,2020-03-16T14:38:46,29,0,3,-34.9285,138.6007
145,Western Australia,Australia,2020-03-17T12:53:09,31,1,0,-31.9505,115.8605
56,New South Wales,Australia,2020-03-17T12:33:07,210,4,4,-33.8688,151.2093
93,Queensland,Australia,2020-03-17T12:33:07,78,0,8,-28.0167,153.4000
13,,Austria,2020-03-17T15:33:06,1332,3,1,47.5162,14.5501
150,,Azerbaijan,2020-03-17T11:53:10,28,1,6,40.1431,47.5769
50,,Bahrain,2020-03-17T03:13:15,228,1,81,26.0667,50.5577
188,,Bangladesh,2020-03-17T12:13:16,10,0,3,23.6850,90.3563
234,,Barbados,2020-03-17T16:13:14,2,0,0,13.1939,-59.5432
138,,Belarus,2020-03-16T14:38:45,36,0,3,53.7098,27.9534
15,,Belgium,2020-03-17T15:33:06,1243,10,1,50.5039,4.4699
243,,Benin,2020-03-16T14:38:46,1,0,0,9.3077,2.3158
244,,Bhutan,2020-03-13T22:22:02,1,0,0,27.5142,90.4336
183,,Bolivia,2020-03-16T14:38:45,11,0,0,-16.2902,-63.5887
151,,Bosnia and Herzegovina,2020-03-17T15:53:12,26,0,2,43.9159,17.6791
39,,Brazil,2020-03-17T15:33:06,321,1,2,-14.2350,-51.9253
121,,Brunei,2020-03-17T15:53:12,56,0,0,4.5353,114.7277
...,...,...,...,...,...,...,...,...
187,Wyoming,US,2020-03-17T23:53:03,11,0,0,42.7560,-107.3025
147,Indiana,US,2020-03-17T23:13:10,30,2,0,39.8494,-86.2583
154,Kentucky,US,2020-03-17T23:33:02,26,1,1,37.6681,-84.6701
155,New Hampshire,US,2020-03-17T23:13:10,26,0,0,43.4525,-71.5639
159,Iowa,US,2020-03-16T23:53:03,23,0,0,42.0115,-93.2105
59,Louisiana,US,2020-03-17T22:53:03,196,4,0,31.1695,-91.8678
161,Rhode Island,US,2020-03-17T20:53:02,23,0,0,41.6809,-71.5118
160,New Mexico,US,2020-03-17T23:13:10,23,0,0,34.8405,-106.2485
182,Vermont,US,2020-03-16T17:13:23,12,0,0,44.0459,-72.7107
175,Delaware,US,2020-03-17T23:33:02,16,0,0,39.3185,-75.5071
173,Kansas,US,2020-03-17T23:13:10,18,1,0,38.5266,-96.7265
170,Oklahoma,US,2020-03-17T17:53:03,19,0,0,35.5653,-96.9289
185,Missouri,US,2020-03-17T23:33:02,11,0,0,38.4561,-92.2884
167,Mississippi,US,2020-03-17T17:53:03,21,0,0,32.7416,-89.6787
135,Alabama,US,2020-03-17T23:13:10,39,0,0,32.3182,-86.9023
166,Grand Princess,US,2020-03-17T20:53:02,21,0,0,37.6489,-122.6655
164,District of Columbia,US,2020-03-16T23:53:03,22,0,0,38.8974,-77.0268
163,Arkansas,US,2020-03-16T17:13:23,22,0,0,34.9697,-92.3731
169,Arizona,US,2020-03-17T23:13:10,20,0,1,33.7298,-111.4312
177,,Ukraine,2020-03-17T19:33:02,14,2,0,48.3794,31.1656
88,,United Arab Emirates,2020-03-16T00:22:11,98,0,23,23.4241,53.8478
8,United Kingdom,United Kingdom,2020-03-17T15:13:09,1950,55,52,55.3781,-3.4360
232,Gibraltar,United Kingdom,2020-03-17T02:53:03,3,0,1,36.1408,-5.3536
269,Cayman Islands,United Kingdom,2020-03-16T14:53:04,1,1,0,19.3133,-81.2546
212,Channel Islands,United Kingdom,2020-03-16T14:38:45,6,0,0,49.3723,-2.3644
149,,Uruguay,2020-03-17T02:13:54,29,0,0,-32.5228,-55.7658
191,,Uzbekistan,2020-03-17T12:13:16,10,0,0,41.3775,64.5853
143,,Venezuela,2020-03-17T11:33:05,33,0,0,6.4238,-66.5897
110,,Vietnam,2020-03-17T15:53:12,66,0,16,14.0583,108.2772
275,,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [36]:
covid_confirmed_count = sample_data['Confirmed'].sum()
covid_deaths_count = sample_data['Deaths'].sum()
covid_recovered_count = sample_data['Recovered'].sum()
print('Total confirmed, dead and recovered numbers in the world respectively:' , 
      covid_confirmed_count,covid_deaths_count,covid_recovered_count)

Total confirmed, dead and recovered numbers in the world respectively: 197168 7905 80840

In [37]:
world_df = pd.DataFrame({
    'confirmed' : [covid_confirmed_count],
    'deaths' : [covid_deaths_count],
    'recovered' : [covid_recovered_count],
    'active' : [covid_confirmed_count - covid_deaths_count - covid_recovered_count]
})

In [38]:
print(world_df)

   confirmed  deaths  recovered  active
0     197168    7905      80840  108423

In [43]:
world_long_df = world_df.melt(value_vars = ['active' , 'deaths' , 'recovered'],
                             var_name="status",
                             value_name="count")

world_long_df['upper']='confirmed'
print(world_long_df)

      status   count      upper
0     active  108423  confirmed
1     deaths    7905  confirmed
2  recovered   80840  confirmed

In [45]:
fig = px.treemap(world_long_df, path=["status"], values="count",
                color_discrete_sequence=['#3498db' , '#2ecc71' , '#e74c3c'],
                template='plotly_dark')
plot(fig)

'temp-plot.html'

In [47]:
covid_confirmed_agg=sample_data.groupby('Country/Region').sum().reset_index()

In [52]:
covid_confirmed_agg

,Country/Region,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Afghanistan,22,0,1,33.9391,67.7100
1,Albania,55,1,0,41.1533,20.1683
2,Algeria,60,4,12,28.0339,1.6596
3,Andorra,39,0,1,42.5063,1.5218
4,Antigua and Barbuda,1,0,0,17.0608,-61.7964
5,Argentina,68,2,3,-38.4161,-63.6167
6,Armenia,78,0,1,40.0691,45.0382
7,Aruba,3,0,0,12.5211,-69.9683
8,Australia,452,5,23,-220.5258,1269.5003
9,Austria,1332,3,1,47.5162,14.5501
10,Azerbaijan,28,1,6,40.1431,47.5769
11,Bahrain,228,1,81,26.0667,50.5577
12,Bangladesh,10,0,3,23.6850,90.3563
13,Barbados,2,0,0,13.1939,-59.5432
14,Belarus,36,0,3,53.7098,27.9534
15,Belgium,1243,10,1,50.5039,4.4699
16,Benin,1,0,0,9.3077,2.3158
17,Bhutan,1,0,0,27.5142,90.4336
18,Bolivia,11,0,0,-16.2902,-63.5887
19,Bosnia and Herzegovina,26,0,2,43.9159,17.6791
20,Brazil,321,1,2,-14.2350,-51.9253
21,Brunei,56,0,0,4.5353,114.7277
22,Bulgaria,67,2,0,42.7339,25.4858
23,Burkina Faso,15,0,0,12.2383,-1.5616
24,Cambodia,33,0,1,12.5657,104.9910
25,Cameroon,10,0,0,3.8480,11.5021
26,Canada,478,5,9,547.0969,-982.3101
27,Central African Republic,1,0,0,6.6111,20.9394
28,Chile,201,0,0,-35.6751,-71.5430
29,China,81058,3230,68798,1080.0817,3685.5800
...,...,...,...,...,...,...
129,Seychelles,4,0,0,-4.6796,55.4920
130,Singapore,266,0,114,1.3521,103.8198
131,Slovakia,72,0,0,48.6690,19.6990
132,Slovenia,275,1,0,46.1512,14.9955
133,Somalia,1,0,0,5.1521,46.1996
134,South Africa,62,0,0,-30.5595,22.9375
135,Spain,11748,533,1028,40.4637,-3.7492
136,Sri Lanka,44,0,1,7.8731,80.7718
137,Sudan,1,1,0,12.8628,30.2176
138,Suriname,1,0,0,3.9193,-56.0278
139,Sweden,1190,7,1,60.1282,18.6435
140,Switzerland,2700,27,4,46.8182,8.2275
141,Taiwan*,77,1,22,23.7000,121.0000
142,Tanzania,1,0,0,-6.3690,34.8888
143,Thailand,177,1,41,15.8700,100.9925
144,The Bahamas,1,0,0,24.2500,-76.0000
145,The Gambia,1,0,0,13.4667,-16.6000
146,Togo,1,0,0,8.6195,0.8248
147,Trinidad and Tobago,5,0,0,10.6918,-61.2225
148,Tunisia,24,0,0,33.8869,9.5375
149,Turkey,47,1,0,38.9637,35.2433
150,US,6421,108,17,2135.3107,-4730.1398
151,Ukraine,14,2,0,48.3794,31.1656
152,United Arab Emirates,98,0,23,23.4241,53.8478
153,United Kingdom,1960,56,53,160.2045,-92.4086
154,Uruguay,29,0,0,-32.5228,-55.7658
155,Uzbekistan,10,0,0,41.3775,64.5853
156,Venezuela,33,0,0,6.4238,-66.5897
157,Vietnam,66,0,16,14.0583,108.2772
158,occupied Palestinian territory,0,0,0,31.9522,35.2332

In [50]:
covid_confirmed_agg.loc[:,['Latitude','Longitude']]=sample_data.groupby('Country/Region').sum().reset_index()

In [53]:
covid_confirmed_agg

,Country/Region,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Afghanistan,22,0,1,33.9391,67.7100
1,Albania,55,1,0,41.1533,20.1683
2,Algeria,60,4,12,28.0339,1.6596
3,Andorra,39,0,1,42.5063,1.5218
4,Antigua and Barbuda,1,0,0,17.0608,-61.7964
5,Argentina,68,2,3,-38.4161,-63.6167
6,Armenia,78,0,1,40.0691,45.0382
7,Aruba,3,0,0,12.5211,-69.9683
8,Australia,452,5,23,-220.5258,1269.5003
9,Austria,1332,3,1,47.5162,14.5501
10,Azerbaijan,28,1,6,40.1431,47.5769
11,Bahrain,228,1,81,26.0667,50.5577
12,Bangladesh,10,0,3,23.6850,90.3563
13,Barbados,2,0,0,13.1939,-59.5432
14,Belarus,36,0,3,53.7098,27.9534
15,Belgium,1243,10,1,50.5039,4.4699
16,Benin,1,0,0,9.3077,2.3158
17,Bhutan,1,0,0,27.5142,90.4336
18,Bolivia,11,0,0,-16.2902,-63.5887
19,Bosnia and Herzegovina,26,0,2,43.9159,17.6791
20,Brazil,321,1,2,-14.2350,-51.9253
21,Brunei,56,0,0,4.5353,114.7277
22,Bulgaria,67,2,0,42.7339,25.4858
23,Burkina Faso,15,0,0,12.2383,-1.5616
24,Cambodia,33,0,1,12.5657,104.9910
25,Cameroon,10,0,0,3.8480,11.5021
26,Canada,478,5,9,547.0969,-982.3101
27,Central African Republic,1,0,0,6.6111,20.9394
28,Chile,201,0,0,-35.6751,-71.5430
29,China,81058,3230,68798,1080.0817,3685.5800
...,...,...,...,...,...,...
129,Seychelles,4,0,0,-4.6796,55.4920
130,Singapore,266,0,114,1.3521,103.8198
131,Slovakia,72,0,0,48.6690,19.6990
132,Slovenia,275,1,0,46.1512,14.9955
133,Somalia,1,0,0,5.1521,46.1996
134,South Africa,62,0,0,-30.5595,22.9375
135,Spain,11748,533,1028,40.4637,-3.7492
136,Sri Lanka,44,0,1,7.8731,80.7718
137,Sudan,1,1,0,12.8628,30.2176
138,Suriname,1,0,0,3.9193,-56.0278
139,Sweden,1190,7,1,60.1282,18.6435
140,Switzerland,2700,27,4,46.8182,8.2275
141,Taiwan*,77,1,22,23.7000,121.0000
142,Tanzania,1,0,0,-6.3690,34.8888
143,Thailand,177,1,41,15.8700,100.9925
144,The Bahamas,1,0,0,24.2500,-76.0000
145,The Gambia,1,0,0,13.4667,-16.6000
146,Togo,1,0,0,8.6195,0.8248
147,Trinidad and Tobago,5,0,0,10.6918,-61.2225
148,Tunisia,24,0,0,33.8869,9.5375
149,Turkey,47,1,0,38.9637,35.2433
150,US,6421,108,17,2135.3107,-4730.1398
151,Ukraine,14,2,0,48.3794,31.1656
152,United Arab Emirates,98,0,23,23.4241,53.8478
153,United Kingdom,1960,56,53,160.2045,-92.4086
154,Uruguay,29,0,0,-32.5228,-55.7658
155,Uzbekistan,10,0,0,41.3775,64.5853
156,Venezuela,33,0,0,6.4238,-66.5897
157,Vietnam,66,0,16,14.0583,108.2772
158,occupied Palestinian territory,0,0,0,31.9522,35.2332

In [54]:
min_cases=100
covid_confirmed_agg=covid_confirmed_agg[covid_confirmed_agg.iloc[:,5:].max(axis=1)]
print(covid_confirmed_agg.shape)

KeyError: "None of [Float64Index([             67.71,            20.1683,             1.6596,\n                          1.5218,           -61.7964,           -63.6167,\n                         45.0382,           -69.9683, 1269.5003000000002,\n                         14.5501,\n              ...\n                         35.2433, -4730.139799999999,            31.1656,\n                         53.8478, -92.40859999999999,           -55.7658,\n                         64.5853,           -66.5897,           108.2772,\n                         35.2332],\n             dtype='float64', length=159)] are in the [columns]"